@font-face {
  font-family: "Qualy";
  src: url("../../assets/font/Qualy.e683c4c.ttf");
}
#navbar > div {
  display: flex;
  font-size: large;
  font-weight: normal;
  height: 100%;
  align-items: center;
  transition: 0.5s;
  position: relative;
}
#logo {
  width: 9rem;
}
#header {
  background-color: #28b7fb;
  transition: 0.5s;
  width: 100%;
  z-index: 99;
}
#header > a {
  display: flex;
  align-items: center;
}
#dropdown {
  display: none;
  transition: 0.5s;
}
#service {
  display: inline-block;
}
#service:hover #dropdown {
  display: block;
}
#panah {
  transform: rotate(0deg);
  transition: 0.5s;
}
#service:hover #panah {
  transform: rotate(180deg);
  transition: 0.5s;
}
#parentBurger {
  transition: 0.5s;
}
#burgerDrop {
  transition: 0.5s;
}
.show {
  transform: translateY(2.75rem);
}

.DontShow {
  transform: translateY(-700px);
}
#panahChild {
  transition: 0.5s;
}
#childDrop {
  transition: 0.5s;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

