@font-face {
  font-family: "Qualy";
  src: url("../../assets/font/Qualy.e683c4c.ttf");
}
#title {
  font-family: "Qualy", sans-serif;
}
.step > li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 18px;
  margin-bottom: 20px;
  position: relative;
}
.step > li > svg {
  margin-right: 5px;
}
.step p {
  font-size: 20px;
  color: #054462;
}
.step span {
  font-weight: bold;
}
.lines {
  z-index: -1;
}
#bgPilih {
  background-image: url("../../assets/background/bg1.png"), url("../../assets/background/bg3.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 20%;
  background-position: 0px 0px, 100% 100%;
}
