@font-face 
    {
        font-family: 'Qualy'; 
        src: url('../../assets/font/Qualy.e683c4c.ttf');
    }

.virtual-hybird-title{
    font-family: 'Qualy', sans-serif;
}

.bg-virtual-or-hybird {
    background-image: url("../../assets/background/bg2.png");
    background-repeat: no-repeat, repeat;
    background-size: 18%;
    background-position: 100% 0px;
  }