@font-face 
    {
        font-family: 'Qualy'; 
        src: url('../../assets/font/Qualy.e683c4c.ttf');
    }

.about-title{
    font-family: 'Qualy', sans-serif;
}

.inner{
    position: absolute;
    background-color: hsla(0,0%,100%,.8);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.bg-about {
    background-image: url("../../assets/background/bg1.png");
    background-repeat: no-repeat, repeat;
    background-color: #f5f9ff;
    background-size: 20%;
  }