@font-face 
    {
        font-family: 'Qualy'; 
        src: url('../../assets/font/Qualy.e683c4c.ttf');
    }

.keterangan-home ul li{
    line-height: 1.5;
    font-weight: 200;
    font-size: 20px;
}

.keterangan-home ul li::before{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    background-color: #ffffff;
    vertical-align: middle;
}

.title-home{
    font-family: 'Qualy', sans-serif;
}

.bg-home-eventy {
    background-image: url("../../assets/background/bg4.png");
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 0px 100%;
  }