@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "inter", sans-serif;
  background-color: "white";
  overflow-x: hidden;
}
